#css-example h1 {
  color: blue;
}

#css-example h3 {
  text-decoration: underline;
}

#css-example p {
  font-style: italic;
}

.page-header {
  text-align: center;
}

.container {
  margin-left: 0;
}

.content {
  padding-left: 200px;
}

.definition {
  border-bottom: 1px solid #EFEEEE;
}

.example .row {
  border: 1px solid #EFEEEE;
  padding: 5px;
}

#checkout {
  font-weight: bold;
}
.about-us {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
}


@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar {
    max-width:200px;
    margin-right: 0;
    margin-left: 0;
    float: left;
  }

  .navbar-nav,
  .navbar-nav > li,
  .navbar-header
  {float:none !important;}

  .dropdown-menu {
    left:0;right:auto;
  }

  .navbar-collapse {
    margin-right: 0;
  }
}
